/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/base/ui-variables.less#L37:L40
*/
@import "base/ui-variables";

@gray-base: #ffffff;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darker(@gray-base, 46.7%);
@gray-lighter: darker(@gray-base, 92.5%);
@white: #eee8d5;

@accent-primary: lighten(#859900, 10%);
@accent-primary-dark: darken(@accent-primary, 10%);

@background-primary: #002b36;
@background-off-primary: #002b36;
@background-secondary: #002b36;
@background-tertiary: #073642;

@border-color-primary: lighten(@background-primary, 10%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: #eee8d5;
@text-color-subtle: fadeout(@text-color, 10%);
@text-color-very-subtle: fadeout(@text-color, 30%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 10%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 40%);
@text-color-heading: #eee8d5;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: darken(#268bd2, 20%);

@input-bg: darken(#268bd2, 20%);
@input-border: @border-color-divider;

@list-bg: darken(#268bd2, 20%);
@list-border: lighten(#cb4b16, 10%);
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @background-primary;
@panel-background-color: @background-primary;
